.btn{
    background-color:blue;
    color: white;
}

select{
    
    
    margin-left: 35px;
    border: 1px solid #d7d7d7;
    padding: 5px;
    border-radius: 7px;
    width: 60%;
    height: 38px;
    margin: 0 auto;
}
select:hover{
    background:#cde4f7;
    border:1px solid #41c9ff;
}

select:focus {
        -webkit-box-shadow: 0 0 3px 1px #7cdaff;
        -moz-box-shadow: 0 0 3px 1px #7cdaff;
        box-shadow: 0 0 3px 1px #7cdaff;
    }
    select:before{
        content: "▼";
    }
option{
    background:#fff;
    border-color:#41c9ff;
    border-radius:2px;
    line-height: 18px;
    outline:none;
    -webkit-box-shadow: 0 0 3px 1px #c00;
    -moz-box-shadow: 0 0 3px 1px #c00;
    box-shadow: 0 0 3px 1px #c00;
}
option:focus{
    -webkit-box-shadow: 0 0 3px 1px #7cdaff;
        -moz-box-shadow: 0 0 3px 1px #7cdaff;
        box-shadow: 0 0 3px 1px #7cdaff;
}