.card {
    padding: 1rem;
    box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
    border-radius: 14px;
    background-color: white;
    height: 6rem;
    margin-top: 10rem;
    margin-left: 28%;

    position: relative;
    width: 50%;
    margin-left: 0 auto;
  }

  /* .card div{
      align-items: center;
      color:red;
      position:absolute;
  } */